<%- include('templates/head')%>
<body>
    <header>
<h1>Marc's travels</h1>
<%- include('templates/menu')%>
<h2><%= h2 %></h2>
<p><%= parrafo %></p>
<p><%= precio%></p>
<img src="<%= img %>" alt="<%= descripcion %>"/>
    </header>
</body>
</html>